@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');


#logo{ 
	position: absolute; 
} 

@media all and (min-width: 992px) {

	.top .nav-item .dropdown-menu {
        width: 100%;
        text-align: center;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
		margin-top: 0;
		color: #000000;
    }
    .top .nav-item:hover .nav-link {
        color: rgb(77, 74, 74);
    }
    .top .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .top .dropdown-menu.fade-up {
        top: 180%;
       
    }
    .top .nav-item:hover .dropdown-menu {
        transition: .3s;
        color: #000000;
        opacity: 1;
        visibility: visible;
        top: 100%;
        
    }
    .top .nav-item .dropdown-menu .dropdown-item:hover {
        border: 2px solid #fff;
        background-color: #000000;
        border-radius: 15px;
    }



}


.top{
	font-family: 'poppins';
    margin-top: 3px;
    margin-bottom: 3px;
	display: flex;
  	flex-direction: row-reverse;
  	justify-content: space-between;
	width: 100%;
    margin-bottom: 0px;
    font-size: 13px;
	
}



.nav{
	font-family: 'poppins';
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 13px;
}

.navbar .nav li:hover{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	
	
}

.borderline {
    border-bottom: 1px solid white;
    left: 3%;
	right: 3%;
    position: absolute;
}

.active{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	
}


  /* Clear floats after the columns */

  
  .loader {
	  position: absolute;
	  top: 60%;
	  left: 50%;
	  margin-left: -50px;
	  margin-top: -50px;
	border: 6px solid #f3f3f3; /* Light grey */
	border-top: 6px solid #45a049; /* Blue */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  .top .nav li:hover{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	
	
}

@media all and (min-width: 992px) {

	.nav-item .dropdown-menu {
        width: 100%;
        text-align: center;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
		margin-top: 0;
		color: #000000;
    }
    .nav-item:hover .nav-link {
        color: rgb(77, 74, 74);
    }
    .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .dropdown-menu.fade-up {
		top: 180%;
		background-color: black;
		width: auto;
    }
    .nav-item:hover .dropdown-menu {
        transition: .3s;
        color: #000000;
        opacity: 1;
        visibility: visible;
		top: 100%;
		width: auto;
    }
    .nav-item .dropdown-menu .dropdown-item:hover {
        border: 2px solid white;
        background-color: #000000;
        border-radius: 15px;
    }



}

#bills{
    display: none;
    color: white;
}

#reports{
    display: none;
    color: white;
}

#up{
    display: none;
    color: white; 
    padding:15px;
}