.form-elegant .font-small {
    font-size: 1.0rem;
}

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    overflow: auto;
    height: auto;
    background-repeat: no-repeat;
    background-image: url('/assets/images/test.jpg');
}

.banner,
body {
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    width: 100%;
}

#logo {
    position: absolute;
    top: 9px;
    left: 0;
}

.banner .navbar {
    margin-top: 0px;
    margin-left: 0px;
    border-bottom: 1px solid white;
}

.banner .navbar-brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 10%;
}

.banner .nav {
    margin-right: 10%;
}

.banner .nav li a {
    color: #aaa;
    font-size: 1.2em;
}

.banner .info {
    margin-top: 15%;
    transform: translateY(-15%);
}

.banner .info h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.banner .info p {
    font-size: 2em;
    font-weight: 500;
    color: #aaa;
    letter-spacing: 2px;
}

.banner .info a {
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #e91d43;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
}

.banner .info a:hover {
    background: #e91e63;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }
    .navbar .nav-item:hover .nav-link {
        color: rgb(77, 74, 74);
    }
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

@media all and (min-width: 992px) {
    .top .nav-item .dropdown-menu {
        width: 100%;
        text-align: center;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }
    .top .nav-item:hover .nav-link {
        color: rgb(77, 74, 74);
    }
    .top .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .top .dropdown-menu.fade-up {
        top: 180%;
    }
    .top .nav-item:hover .dropdown-menu {
        transition: .3s;
        color: #4CAF50;
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
    .top .nav-item .dropdown-menu .dropdown-item:hover {
        background-color: rgb(77, 74, 74);
    }
}

.top {
    margin-top: 3px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
}